<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="local" connectionString="Data Source =.\SQLExpress;"/>
    <add name ="development" connectionString="Data Source =dev\SQLExpress;"/>
    <add name ="QA" connectionString="Data Source =qa\SQLExpress;"/>
  </connectionStrings>
</configuration>